<mat-card>
    <mat-card-title>Dodaj nowe miasto</mat-card-title>
    <mat-card-content>
      <form [formGroup]="cityForm" (ngSubmit)="addCity()">
        <mat-label>Nazwa miasta</mat-label>
        <mat-form-field appearance="outline" class="full-width">
          
          <input matInput placeholder="Wprowadź nazwę miasta" formControlName="name" required />
          <mat-error *ngIf="cityForm.get('name')?.hasError('required')">Nazwa miasta jest wymagana</mat-error>
        </mat-form-field>
  
        <button mat-raised-button color="primary" type="submit">Dodaj</button>
      </form>
    </mat-card-content>
  </mat-card>
  