<!-- <mat-toolbar color="primary">
  <span>Transport Network Manager</span>
</mat-toolbar> -->

<mat-sidenav-container class="main-container">
  <mat-sidenav #sidenav mode="side" opened>
    <mat-nav-list class="nav-list">
      <button mat-button routerLink="/map" routerLinkActive="active">🌍 Mapa sieci</button>
      <button mat-button routerLink="/search" routerLinkActive="active">🔍 Wyszukiwanie</button>
      <button mat-button routerLink="/add-city" routerLinkActive="active">🏙️ Dodaj miasto</button>
      <button mat-button routerLink="/add-connection" routerLinkActive="active">➕ Dodaj połączenie</button>
      <button mat-button routerLink="/delete-node" routerLinkActive="active">🗑️ Usuń węzeł</button>
      <button mat-button routerLink="/delete-connection" routerLinkActive="active">❌ Usuń połączenie</button>
      <button mat-button routerLink="/stats" routerLinkActive="active">📊 Statystyki</button>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
